[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:vb1120/discount-api-gateway.git
[submodule "users-service"]
	path = users-service
	url = git@github.com:vb1120/discount-users-service.git
[submodule "banners-service"]
	path = banners-service
	url = git@github.com:vb1120/discount-banners-service.git
[submodule "profiles-service"]
	path = profiles-service
	url = git@github.com:vb1120/discount-profiles-service.git
[submodule "discounts-service"]
	path = discounts-service
	url = git@github.com:vb1120/discount-discounts-service.git
[submodule "image-delivery-service"]
	path = image-delivery-service
	url = git@github.com:vb1120/discount-image-delivery-service.git
[submodule "favorites-service"]
	path = favorites-service
	url = git@github.com:vb1120/discount-favorites-service.git
