[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/vb1120/discount-api-gateway.git
[submodule "users-service"]
	path = users-service
	url = https://github.com/vb1120/discount-users-service.git
[submodule "banners-service"]
	path = banners-service
	url = https://github.com/vb1120/discount-banners-service.git
[submodule "profiles-service"]
	path = profiles-service
	url = https://github.com/vb1120/discount-profiles-service.git
[submodule "categories-service"]
	path = categories-service
	url = https://github.com/vb1120/discount-categories-service.git
